<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/test">Test Page</a></li>
                <li><a href="/admin/users">Users List</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul id="userlist"></ul>
        <script>
            var userlist = document.getElementById("userlist");
            const fs = require('fs');
            // read user list file as array
            const fileContent = fs.readFileSync('./users.txt').toString().split('\n');
            fileContent.forEach(element => {
                userlist.appendChild(element);
            });
            console.log('ise yaradi mi?');
        </script>
    </main>
</body>
</html>